.contact {
  padding-top: 51px;
  padding-bottom: 100px;
}

.contact__title {
  color: var(--neutral-800, #170F49);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 12px;
}

.contact__text {
  color: var(--neutral-600, #6F6C90);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 42px;
}

.contact__text__wrapper {
  width: 566px;
  margin-right: auto;
  margin-left: auto;
}

.contact__form {
  width: 698px;
  margin-right: auto;
  margin-bottom: 31px;
  margin-left: auto;
  flex-shrink: 0;
  border-radius: 34px;
  border: 1px solid var(--neutral-300, #EFF0F6);
  background: var(--neutral-100, #FFF);
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  padding-top: 32px;
  padding-right: 56px;
  padding-bottom: 80px;
  padding-left: 46px;
}

.contact__box {
  padding-bottom: 32px;
  border-bottom: 1px solid #D9DBE9;
  margin-bottom: 64px;
}

.contact__span-first {
  width: 34px;
  height: 34px;
  margin-right: 13px;
  margin-left: 30px;
  background-color: #4A3AFF;
  color: #FFF;
  border-radius: 50%;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.contact__span-line {
  display: inline-block;
  width: 98px;
  height: 6px;
  border-radius: 40px;
  background-color: #EFF0F6;
}

.contact__span-second {
  width: 34px;
  height: 34px;
  margin-left: 13px;
  margin-right: 13px;
  background-color: #EFF0F6;
  color: #FFF;
  border-radius: 50%;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  color: var(--neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.contact__span-third {
  width: 34px;
  height: 34px;
  margin-left: 13px;
  margin-right: 13px;
  background-color: #EFF0F6;
  color: #FFF;
  border-radius: 50%;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  color: var(--neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.contact__span-fourth {
  width: 34px;
  height: 34px;
  margin-left: 13px;
  background-color: #EFF0F6;
  color: #FFF;
  border-radius: 50%;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  color: var(--neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.list-title {
  font-family: "DM Sans";
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  color: var(--neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
}

.list-text {
  font-family: "DM Sans";
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
}

.box {
  display: flex; 
  justify-content: space-between;
}

.name-label {
  display: block;
  margin-bottom: 18px;
  color: var(--neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}

.box__top-span {
  position: relative;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 20px;
  display: block;
  width: 284px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 46px;
  border: 1px solid  #EFF0F6;
  background-color:  #FFF;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  margin-bottom: 44px;
}

.box__top-span::after {
  position: absolute;
  top: 17px;
  left: 230px;
  content: "";
  display: inline-block;
  background-image: url("../../images/user.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 25px;
}

.name-input {
  border: none;
}

.emailadd-label {
  display: block;
  color: var(--neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  margin-bottom: 18px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.box__bottom-span {
  position: relative;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 20px;
  display: block;
  width: 284px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 46px;
  border: 1px solid  #EFF0F6;
  background-color:  #FFF;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  margin-bottom: 44px;
}

.box__bottom-span::after {
  position: absolute;
  top: 22px;
  left: 230px;
  content: "";
  display: inline-block;
  background-image: url("../../images/massage2.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.emailadd-input {
  border: none;
}

.number-label {
  display: block;
  margin-bottom: 18px;
  color: var(--neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}

.number-span {
  position: relative;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 20px;
  display: block;
  width: 284px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 46px;
  border: 1px solid  #EFF0F6;
  background-color:  #FFF;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  margin-bottom: 44px;
}

.number-span::after {
  position: absolute;
  top: 16px;
  left: 230px;
  content: "";
  display: inline-block;
  background-image: url("../../images/phone.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 28px;
}

.number-input {
  border: none;
}

.company-label {
  display: block;
  margin-bottom: 18px;
  color: var(--neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}

.company-span {
  position: relative;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 20px;
  display: block;
  width: 284px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 46px;
  border: 1px solid  #EFF0F6;
  background-color:  #FFF;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  margin-bottom: 44px;
}

.company-span::after {
  position: absolute;
  top: 14px;
  left: 230px;
  content: "";
  display: inline-block;
  background-image: url("../../images/capital.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 40px;
}

.company-input {
  border: none;
}

.contact__link {
  display: inline-flex;
  padding: 20px 40px 21px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  background: var(--primary-color-1, #4A3AFF);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: var(--neutral-100, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  margin-left: 805px;
}